
/* Styling the HTML */
#search-bar{
    padding: 20px;
    border: solid white 1px;
    border-radius: 10px;
    padding-right: 200px;
    }
    #button{
    position: relative;
    padding: 18px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    border: solid 1px black;
    background-color: black;
    cursor: pointer;
    }
     

    .search{
    border: solid black 1px;
    padding: 20px;
    background-color: black;
    color: white;
    width: 270px;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    }
    body{
        background-image: url(Images/BackGround.png);
    background-repeat: no-repeat;
    background-size: cover;
      }
    h1{
    color: white;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    }
    #headings{
    padding: 150px;
    }
    #container{
    text-align: center;
    }
    #time-date{
      padding-left: 800px;
    }

    
    /* Phones media queries */


    @media only screen and (min-width: 280px){
      #headings{
        padding: 50px 8px;
        }
        h1{
          color: white;
          font-size: 21px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 10px 28px;
            font-size: medium;
            }
            #button{
              padding: 10px;
              margin: 30px 20px;
              
              }
              .search{
              border: solid black 1px;
              padding: 15px 18px;
              background-color: black;
              color: white;
              width: 220px;
              border-radius: 20px;
              text-align: center;
              font-size: 15px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 2px;
                }

                body{

                  background-image: url(Images/effeil-tower.jpg);
                  background-repeat: no-repeat;
                  background-size: cover;
                  
                }

              }
   
    @media only screen and (min-width: 350px){
      #headings{
        padding: 20px 0px;
        }
        h1{
          font-size: 29px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 11px 100px 11px 10px;
            font-size: medium;
            }
            #button{
              padding: 11px;
              }
              .search{
              border: solid black 1px;
              padding: 15px;
              background-color: black;
              color: white;
              width: 300px;
              border-radius: 20px;
              text-align: center;
              font-size: 18px;
              }
                #container{
                  padding-top: 50px;
                  padding-bottom: 50px;
                text-align: center;
                }
                #time-date{
                  padding-left: 10px;
                }

                body{

                  background-image: url(Images/tour\ effeil.jpg);
                  background-repeat: repeat;
                  background-size: cover;
                  
                }
    }
    @media only screen and (min-width: 400px){
      #headings{
        padding: 50px 0px;
        }
        h1{
          color: white;
          font-size: 33px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 12px 110px 12px 20px;
            font-size: large;
            }
            #button{
              padding: 15px;
              }
              .search{
              border: solid black 1px;
              padding: 15px;
              background-color: black;
              color: white;
              width: 350px;
              border-radius: 20px;
              text-align: center;
              font-size: 20px;
              }
                #container{
                  padding-top: 50px;
                  padding-bottom: 50px;
                text-align: center;
                }
                #time-date{
                  padding-left: 10px;
                }



                body{
                  background-image: url(Images/tour\ effeil.jpg);
              background-repeat: repeat;
              background-size: cover;
                }

    }
    @media only screen and (min-width: 500px){
      #headings{
        padding: 30px 10px;
        }
        h1{
          font-size: 40px;
          }
         
              .search{
              background-color: black;
              width: 450px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 10px;
                }


                body{
                  background-image: url(Images/tour\ effeil.jpg);
              background-repeat: repeat;
              background-size: cover;
                }

    }
    @media only screen and (min-width: 750px){
      #headings{
        padding: 50px 5px;
        }
        h1{
          color: white;
          font-size: 50px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 15px 230px 15px 10px;
            font-size: large;
            }
            #button{
              padding: 20px;
              }
              .search{
              border: solid black 1px;
              padding: 20px;
              background-color: black;
              color: white;
              width: 560px;
              border-radius: 20px;
              text-align: center;
              font-size: 25px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 60px;
                
                }

                  body{

                    background-image: url(Images/tour\ effeil.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                  }

                }
                  
                

    /* Large Screens media queries */

    @media only screen and (min-width: 800px){
      #headings{
        padding: 50px 20px;
        }
        h1{
          color: white;
          font-size: 70px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 30px 300px 20px 30px;
            font-size: 25px;
            }
            #button{
              padding: 25px;
              font-size: x-large;
              }
              .search{
              border: solid black 1px;
              padding: 20px;
              background-color: black;
              color: white;
              width: 820px;
              border-radius: 20px;
              text-align: center;
              font-size: 40px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 10px;
                }
    }
    @media only screen and (min-width: 1000px){
      #headings{
        padding: 10px;
        }
        h1{
          color: white;
          font-size: 40px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 15px 140px 15px 20px;
            font-size: 15px;
            }
            #button{
              padding: 15px;
              font-size: 15px;
              }
              .search{
              border: solid black 1px;
              padding: 10px;
              background-color: black;
              color: white;
              width: 465px;
              border-radius: 20px;
              text-align: center;
              font-size: 22px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 250px;
                }

                body{

                  background-image: url(Images/tour\ effeil.jpg);
                  background-repeat: no-repeat;
                  background-size: cover;
                
                  
                }


                body{
                  background-image: url(Images/BackGround.png);
              background-repeat: no-repeat;
              background-size: cover;
                }


    }
    @media only screen and (min-width: 1200px){
        h1{

          font-size: 55px;
        
          }
          #search-bar{
            padding: 15px 200px 15px 15px;
            }
            #button{
              padding: 15px;
              }
              .search{
              padding: 15px;
              background-color: black;
              color: white;
              width: 545px;
              font-size: 22px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 335px;
                }


                body{
                  background-image: url(Images/BackGround.png);
              background-repeat: no-repeat;
              background-size: cover;
                }


    }
    @media only screen and (min-width: 1300px){
      #headings{
        padding: 10px;
        }
        h1{
          color: white;
          font-size: 80px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          }
          #search-bar{
            padding: 15px 200px 15px 15px;
            }
            #button{
              padding: 17px;
              }
              .search{
              border: solid black 1px;
              padding: 20px;
              background-color: black;
              color: white;
              width: 550px;
              border-radius: 20px;
              text-align: center;
              font-size: 25px;
              }
                #container{
                text-align: center;
                }
                #time-date{
                  padding-left: 715px;
                }

                body{
                  background-image: url(Images/BackGround.png);
              background-repeat: no-repeat;
              background-size: cover;
                }

    }